.text{
    position: absolute;
    color: cyan;
  
    text-align:center;
      height: 75px;
    width: 100px;
    top: 0px;
}
.input{
    position: absolute;
    height: 74px;
    width: 100px;
    top:50px;
    left: 0px;
}
input:hover{
    background-color: darkgreen;
}
.size {

    overflow:scroll;
    left: 200px; 
    height: 70px; 
    background-color: rgb(42, 165, 165); 
    font-size:15px;
  }