<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button (click)='changType("circle","Creating")'>
        <svg width="100" height="100" > 
            <circle cx="50" cy="50" r="40" stroke="green" stroke-width="1" fill="yellow" />
        </svg> 
    </button>
    <button style="background-color: blue; border: none;" (click)='changType("rectangle","Creating")'>
        <svg width="100" height="100">
            <rect x="25" y="025" width="50" height="60" style="fill:yellow;stroke:green; stroke-width:4;  " />
        </svg>
    </button >
    <button style=" border: none;"  (click)='changType("line","Creating")'>
        <svg height="100" width="100">
            <line x1="0" y1="0" x2="100" y2="100" style="stroke:rgb(255,0,0);stroke-width:6" />
        </svg>
    </button>
</body>
</html>